/* header */
header {
    position: fixed;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(23, 27, 39);
    z-index: 2500;
}
header ul {
    display: flex;
}
header .logo {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
header .logo:hover {
    color: #fff;
}
header .logo span {
    color : #ff0157;
}
header ul li {
    position: relative;
    margin-right: 20px;
    font-size: 1.25rem;
}
header ul li a {
    color: #fff;
}
header ul li:hover a{
    color: rgb(238, 163, 166);
    border-bottom: 1px solid rgb(238, 163, 166);
}

/* banner */
#banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(41,47,65);
}
.banner .container { text-align: center; }
.banner .container h2 {
    display:block;
}
.banner .container h2.bold {
    font-size: 8rem;
    font-weight: 500;
    color: rgb(238, 163, 166);
    margin-top: -100px;
    letter-spacing: 4px;
    animation: text 3s 1;
}
.banner .container h2.bold span {
    color:rgb(241, 105, 110);
    animation: text 3s 1;
}
.banner .container h2.thin {
    font-size: 9rem;
    font-weight: 100;
    color: rgb(238, 163, 166);
    animation: text 3s 1;
}
.banner .container h2.thin span {
    color:rgb(241, 105, 110);
    animation: text 3s 1;
}

.banner .container .btn {
    text-align: center;
    font-size: 1.5rem;
    background-color: #ff0157;
    padding: 5px 15px;
    color: #fff;
    transition: all 0.2s ease;
}
.banner .container .btn:hover {
    letter-spacing: 6px;
}

/* profile */
#profile {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(23, 27, 39);
}
.profile .container {
    padding: 25px;
}
.profile_title {
    color: rgb(238, 163, 166);
    font-size: 5rem;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    letter-spacing: 7px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}
.profile_content .profile_left {
    width: 350px;
    margin-right: 50px;
}
.profile_content .profile_left .profile_img {
    width: 100%;
    border-radius: 3%;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.4);
}
.profile_record h3 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 20px;
}
.profile_record h3 span {
    font-size: 1.5rem;
    color: rgb(238, 163, 166);
}
.profile_record p {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 10px;
}
.profile_record p span {
    display: block;
    font-size: 1.5rem;
    color: rgb(238, 163, 166);
}
.profile_record .profile_sns ul {
    display: flex;
    margin-top: 30px;
}
.profile_record .profile_sns li { position: relative; }

.profile_record .profile_sns li.github::before {
    content: 'Github';
    position: absolute;
    left: 0;
    bottom: -8px;
    color: rgb(241, 105, 110);
    display: none;
}
.profile_record .profile_sns li.blog::before { 
    content: 'Blog';
    position: absolute;
    left: 5px;
    bottom: -8px;
    color: rgb(241, 105, 110);
    display: none;
}
.profile_record .profile_sns li.facebook::before { 
    content: 'Facebook';
    position: absolute;
    left: -8px;
    bottom: -8px;
    color: rgb(241, 105, 110);
    display: none;
}
.profile_record .profile_sns li.instagram::before { 
    content: 'Instagram';
    position: absolute;
    left: -12px;
    bottom: -8px;
    color: rgb(241, 105, 110);
    display: none;
}
.profile_record .profile_sns li.github:hover::before { display: inline; }
.profile_record .profile_sns li.blog:hover::before { display: inline; }
.profile_record .profile_sns li.facebook:hover::before { display: inline; }
.profile_record .profile_sns li.instagram:hover::before { display: inline; }
.profile_record .profile_sns li a {
    color: #fff;
    font-size: 3rem;
    margin-right: 50px;
    cursor: pointer;
}
.profile_record .profile_sns li:hover a { color: rgb(160, 158, 158); }
.profile_content { 
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
}



/* skils */
#skils {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(41,47,65);
}
.skils .container {
    padding: 25px;
}
.skils .skils_title h3 {
    color: rgb(238, 163, 166);
    font-size: 5rem;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 7px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}
.skils .skils_title p {
    color:  rgb(241, 105, 110);
    font-size: 1.2rem;
    text-align: center;
    margin-top: -15px;
}
.skils_box { 
    display: flex;
    margin: 80px 0 100px 0;
}
.skils_box div {
    margin-right: 70px;
    overflow: hidden;
}
.skils_box div:last-child{
    margin-right: 0;
    
}
.skils_html {
    position: relative;
    background: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
    border: 3px solid  rgba(55, 63, 87, 0.9);
}
.skils_html:hover i,
.skils_html:hover p {
    opacity: 0.4;
}
.skils_html i {
    margin-top: 10px;
    font-size: 8rem;
    color: rgb(241, 101, 40);
}
.skils_html p {
    font-size: 2.5rem;
    font-weight: 600;
}
.skils_html span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(95%, -50%) rotate(180deg); /* translate(x축 y축) */
    font-size: 1.8rem;
}
.skils_html span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.9);
    transform: translate(-50%, -50%)
}
.skils_html:hover span {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}
.skils_css {
    position: relative;
    background: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
    border: 3px solid  rgba(55, 63, 87, 0.9);
}
.skils_css:hover i,
.skils_css:hover p {
    opacity: 0.4;
}
.skils_css i {
    margin-top: 10px;
    font-size: 8rem;
    color: rgb(21, 114, 183);
}
.skils_css p {
    font-size: 2.5rem;
    font-weight: 600;
}
.skils_css span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(95%, -50%) rotate(180deg); /* translate(x축 y축) */
    font-size: 1.8rem;
}
.skils_css span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.9);
    transform: translate(-50%, -50%)
}
.skils_css:hover span{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}
.skils_javascript {
    position: relative;
    background: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
    border: 3px solid  rgba(55, 63, 87, 0.9);
    
}
.skils_javascript:hover i,
.skils_javascript:hover p {
    opacity: 0.4;
}
.skils_javascript i {
    margin-top: 10px;
    font-size: 8rem;
    color: rgb(253, 217, 59);
}
.skils_javascript p {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 15px;
}
.skils_javascript span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(95%, -50%) rotate(180deg); /* translate(x축 y축) */
    font-size: 1.8rem;
}
.skils_javascript span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.9);
    transform: translate(-50%, -50%)
}
.skils_javascript:hover span{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}
.skils_react {
    position: relative;
    background: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;
    border: 3px solid  rgba(55, 63, 87, 0.9);
}
.skils_react:hover i,
.skils_react:hover p {
    opacity: 0.4;
}
.skils_react i {
    margin-top: 10px;
    font-size: 8rem;
    color: rgb(23, 211, 255);
}
.skils_react p {
    font-size: 2.5rem;
    font-weight: 600;
}
.skils_react span {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: translate(95%, -50%) rotate(180deg); /* translate(x축 y축) */
    font-size: 1.8rem;
}
.skils_react span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,0.9);
    transform: translate(-50%, -50%)
}
.skils_react:hover span{
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
}
/* //skils */

/* portfolio */
#portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(23, 27, 39);;
}
.portfolio .container { padding: 25px; }
.portfolio_title h3 {
    color: rgb(238, 163, 166);
    font-size: 5rem;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 7px;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
}
.portfolio_title p {
    color:  rgb(241, 105, 110);
    font-size: 1.2rem;
    text-align: center;
    margin-top: -15px;
}
.portfolio_contents { 
    width: 100%;
    overflow: hidden; 
}
.content-item {
    position: relative;
    width: 1900px;
    max-width: 90vw;
    margin: 40vw 0 40vw 0;
}
.content-item:last-child {
    margin-bottom: 20vw;
}
.content-item-num {
    position: absolute;
    left: 25vw;
    top: -20vw;
    color: #fff;
    font-size: 15vw;
    font-weight: 100;
    font-family: 'Lato';
    z-index: 2000;
}
.content-item-num em { color: rgb(238, 163, 166); }
.content-item:nth-child(even) .content-item-num{ left: 50vw; }
.content-item-imgWrap {  display: flex; }
.content-item:nth-child(even) .content-item-imgWrap{ flex-direction: row-reverse; }
.content-item-imgbox {
    width: 40vw;
    margin-right: 30px;
    margin-left: 30px;
} 
.content-item:nth-child(even) .content-item-imgbox{
}
.content-item-imgbox img{
    width: 100%;
    border-radius: 3%;
    box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.4);
}
.content-item-desc h3 {
    margin-top: 12vw;
    font-size: 4vw;
    color: #fff;
}
.content-item-desc h3 span.javascript { color: rgb(253, 217, 59); }
.content-item-desc h3 span.react { color: rgb(23, 211, 255); }
.content-item-desc h3 span.version { 
    font-size: 2vw;
}
.content-item-desc p {
    font-size: 1.35vw;
    color: #fff
}
.content-item-desc p span { color: rgb(238, 163, 166); }
.content-item-desc a {
    font-size: 1vw;
    color: #fff;
    float: right;
    padding: 8px 25px;
    background: rgb(241, 105, 110);
    transition: all .3s ease;
    margin-top: 1.5vw;
}
.content-item-desc a:hover {
    color:  rgb(241, 105, 110);
    background: #fff;
}
.content-item:nth-child(even) .content-item-desc a { float: left; }

/* Parallax 개별적으로 나타내기 */
.portfolio_contents > section .content-item-num { 
    opacity: 0;  transition: all 1s .1s ease-in-out;
    transform: translateX(-300px);
}
.portfolio_contents > section .content-item-title { 
    opacity: 0; transition: all 1s .2s ease-in-out;
    transform: translateX(-300px);
}
.portfolio_contents > section .content-item-imgWrap { 
    opacity: 0; transition: all 1s .3s ease-in-out; 
    transform: translateX(-300px);
}
.portfolio_contents > section .content-item-desc { 
    opacity: 0; transition: all 1s .4s ease-in-out;
    transform: translateX(-300px);
}

.portfolio_contents > section:nth-child(even) .content-item-num { 
    opacity: 0;  transition: all 1s .1s ease-in-out;
    transform: translateX(300px);
}
.portfolio_contents > section:nth-child(even) .content-item-title { 
    opacity: 0; transition: all 1s .2s ease-in-out;
    transform: translateX(300px);
}
.portfolio_contents > section:nth-child(even) .content-item-imgWrap { 
    opacity: 0; transition: all 1s .3s ease-in-out; 
    transform: translateX(300px);
}
.portfolio_contents > section:nth-child(even) .content-item-desc { 
    opacity: 0; transition: all 1s .4s ease-in-out;
    transform: translateX(300px);
}

.portfolio_contents > section.show .content-item-num { 
    opacity: 1; transform: translateX(0);
}
.portfolio_contents > section.show .content-item-title { 
    opacity: 1; transform: translateX(0);
}
.portfolio_contents > section.show .content-item-imgWrap { 
    opacity: 1; transform: translateX(0);
}
.portfolio_contents > section.show .content-item-desc { 
    opacity: 1; transform: translateX(0); 
}
/* //portfolio */




/* cursor */
.cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border: 1px solid #999;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}
.cursor2 {
    position: fixed;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

/* animation */
@keyframes text {
    0% {
        color: rgb(41,47,65);
    }
    30% {
        letter-spacing: 35px;
    }
    85% {
        letter-spacing: 8px;
    }
}